<header>
  <div class="header_top">
    <nav class="header_nav">
      <ul class="nav-top_menu">
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Personas</a>
        </li>
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Negocios</a>
        </li>
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Corporativos</a>
        </li>
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Negocios Especializados</a>
        </li>
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Tu360</a>
        </li>
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Blog</a>
        </li>
      </ul>
      <ul class="nav-top_menu nav-top_menu--right">
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Transparencia</a>
        </li>
        <li class="nav-top_item">
          <a href="#" class="nav-top_link">Consumidor</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <figure class="logo">
      <a href="#" class="logo-link"
        ><img
          src="/assets/images/GRUPO BANCOLOMBIA_Logo_2.webp"
          alt="Logo Bancolombia"
      /></a>
    </figure>
    <nav class="header-main_nav">
      <div class="nav-left">
        <ul class="nav-menu">
          <li class="nav-menu_item">
            <a href="" class="nav-links">Inicio</a>
          </li>
          <li class="nav-menu_item">
            <a href="" class="nav-links">Necesidades</a>
          </li>
          <li class="nav-menu_item">
            <a href="" class="nav-links">Productos y Servicios</a>
          </li>
          <li class="nav-menu_item">
            <a href="" class="nav-links">Educación Financiera</a>
          </li>
        </ul>
      </div>

      <div class="nav-right">
        <button class="header-btn">Trámites Digitales</button>
        <div class="menu-transactions_list">
          <div class="submenu">
            <a href="" class="transaction_link">Sucursal Virtual Personas</a>
          </div>
          <a href="" class="btn-transactional">Entrar</a>
        </div>
      </div>
    </nav>
  </div>
</header>

